http://spark.apache.org/docs/2.1.0/api/python/pyspark.sql.html

In [1]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkContext
import pyspark.sql.functions as func

In [15]:
# create a new spark session

spark = SparkSession\
            .builder

TypeError: 'Builder' object is not callable

In [3]:
jdbcHostname = "production-green.omnibnk.io"
jdbcDatabase = "production_service_documents_db"                                       
jdbcUsername='platform_risk'                                                              
jdbcPassword='KG9EsjXsZ6nsNyQq'

In [4]:
# define jdbc url to write
jdbcUrl = "jdbc:postgresql://{0}:{1}/{2}".format(jdbcHostname, 5432, jdbcDatabase)
connectionProperties = {                                                                  
  "user" : jdbcUsername,
  "password" : jdbcPassword,
  "driver": 'org.postgresql.Driver',                                                      
  "stringtype": "unspecified"                                                             
}

In [5]:
INVOICES = """(
SELECT
    id, amount_total
FROM invoices
WHERE 
    issue_date >= NOW() - INTERVAL '20' hour
    AND issue_date <= NOW()
) as data_table
"""

In [6]:
df_invoices = spark.read.jdbc(
                    url=jdbcUrl,
                    table=INVOICES,
                    properties=connectionProperties)

In [12]:
jdbcPort = 5432                                                                           
jdbcHostname = "ec2-50-19-109-120.compute-1.amazonaws.com"
jdbcDatabase = "d3p4ja95tq65b6"         
jdbcUsername='rxyunyrozqzfts'                                                              
jdbcPassword='8906da7d7d9a87bc1c65f515a1c559b76e5985cdba6f7d29c6dbdb2fa97fb685'

# jdbc url para conectarse a la base de datos
jdbcUrl = "jdbc:postgresql://{0}:{1}/{2}".format(jdbcHostname, jdbcPort, jdbcDatabase)

# propiedades para la conexion a la base de datos
connectionProperties = {                                                                  
  "user" : jdbcUsername,
  "password" : jdbcPassword,
  "driver": 'org.postgresql.Driver',                                                      
  "stringtype": "unspecified"                                                             
}

In [13]:
df_invoices.write.jdbc(url = jdbcUrl,
                                 table = "test_invoices",
                                 mode = "overwrite",
                                 properties = connectionProperties)

Py4JJavaError: An error occurred while calling o74.jdbc.
: org.postgresql.util.PSQLException: FATAL: no pg_hba.conf entry for host "200.91.206.9", user "rxyunyrozqzfts", database "d3p4ja95tq65b6", SSL off
	at org.postgresql.core.v3.ConnectionFactoryImpl.doAuthentication(ConnectionFactoryImpl.java:446)
	at org.postgresql.core.v3.ConnectionFactoryImpl.openConnectionImpl(ConnectionFactoryImpl.java:220)
	at org.postgresql.core.ConnectionFactory.openConnection(ConnectionFactory.java:55)
	at org.postgresql.jdbc.PgConnection.<init>(PgConnection.java:219)
	at org.postgresql.Driver.makeConnection(Driver.java:407)
	at org.postgresql.Driver.connect(Driver.java:275)
	at org.apache.spark.sql.execution.datasources.jdbc.DriverWrapper.connect(DriverWrapper.scala:45)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$$anonfun$createConnectionFactory$1.apply(JdbcUtils.scala:63)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$$anonfun$createConnectionFactory$1.apply(JdbcUtils.scala:54)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:63)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:45)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:70)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:68)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.doExecute(commands.scala:86)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:131)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:155)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:152)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:80)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:80)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:654)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:654)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:77)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:654)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:273)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:267)
	at org.apache.spark.sql.DataFrameWriter.jdbc(DataFrameWriter.scala:499)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)

In [11]:
df_invoices.toPandas()

                                        id  amount_total
0     4201064d-ad88-4365-a665-1b0ee5123837      121975.0
1     f6363ec4-c26c-4738-9019-0441553d4cf1       88512.0
2     22bc9cd3-7767-4855-b415-e2deaf12c0ad      196752.0
3     e93a3639-d44a-4279-b9f4-169cdb0acabf       68339.0
4     2115080e-a29b-4029-9f14-560a03aa38fd        2382.0
5     3dd04674-10d0-46bc-8606-071ae2181f7d      410550.0
6     c1c6019a-3e86-4890-8912-efa202fbdb5d    12495000.0
7     f23f68c0-7893-4ac9-a064-00cdd527ed5d       24172.0
8     e088117b-a5ed-4d40-94c2-d4c1de549f88       71733.0
9     97532ea8-94f6-461e-933d-7fa2eb8e98a4      561085.0
10    ca2b9623-4496-4c9d-b839-ff5f38cbf31b     1091968.0
11    3714f45c-5abd-428f-afc0-fc7138586c5c      892351.0
12    33811b46-4aa5-4eec-b894-37648198c4dd       24098.0
13    a18e6892-d743-4190-b2a0-94ede9bf8bcc     3354094.0
14    879dd151-7169-48f2-8534-d09fd59521ef       44000.0
15    a9582d50-f9b6-4695-b6c5-1406022daf34       61118.0
16    1e8aa4bc-912c-4f5e-b253-17b6b99ef941      136850.0
17    005cc373-7fcf-4831-b749-3595085d9cbd       24704.0
18    547066ab-515a-4183-a2c8-4dc04908a4cb      199515.0
19    f79a1b3f-91d2-47be-a771-8fac1fccb2eb     3244383.0
20    10e483fb-a144-4ab4-ad8d-d5cc19541589       30429.0
21    4fd30453-867c-4d62-84e5-3f60cb7aad93      425000.0
22    0da9c7c1-47ba-4c4b-89c9-83072dbe4db6     4920137.0
23    3c3470f8-5bf9-4550-a235-8897a2d3dee0      119000.0
24    1fb8ffab-1104-4e11-94ac-9382374f109f      333755.0
25    adb19cec-0660-4fc1-8782-e365d0c672a1       11608.0
26    50e51996-7761-413f-bebf-e8d2ca4eb958      692008.0
27    6f4df0f0-3b41-4c1e-bb66-ee45152b180c       56990.0
28    32bda97b-97d4-4c1e-a2df-760e22a11cbe       66421.0
29    f157b4a9-5366-4c7b-9893-5747bd9308c7      571200.0
...                                    ...           ...
1794  88e5430a-5374-4afb-99e2-780656e7aff3        7357.0
1795  f624f58d-dbe1-484a-b943-e43c36f239ed      148750.0
1796  55623b8f-2809-491d-93e8-3e49ad6ab232       10000.0
1797  22d8d977-52d6-497a-8ad7-0e41951e6ca4     1638684.0
1798  3aedc818-2899-46c9-a3ec-4e3633303fa0       75003.0
1799  f9500d1d-dd11-4162-b9b3-956572a9cb9a      165410.0
1800  d691ce50-a1fe-4b17-9014-cb47bff2d11b     1053864.0
1801  29152038-c6a5-4c19-ab25-a0deed35630f       35001.0
1802  d5a10368-79ba-40ce-9555-e8c3693f6004       39999.0
1803  e4c02907-5c5f-426f-a850-61eb1bfd21d1       23001.0
1804  891d2bcc-b3a2-457b-a17a-8717fbd00d94       32859.0
1805  620f7472-b1f3-44f1-beb1-1d7fb8688c89       28002.0
1806  71903b2c-103e-4642-89f2-975c53383c08       42126.0
1807  7d40485f-940d-439e-b226-c06a87c27843       18500.0
1808  97d6b562-8aff-4814-8178-9e3ce80d96ec       69272.0
1809  7ec3b85e-3481-4e31-9b48-6a8ffe720901       24769.0
1810  e7a50b29-1da1-4ea3-b75a-bfd19bf7b635       32681.0
1811  146f95e1-370d-4524-8bc1-eee205f0a81a       20000.0
1812  c96c55ca-6c46-4d86-b7b2-a107d7cbadc0       10000.0
1813  08c1c976-7202-41a7-9791-ccc32e8107e8        4620.0
1814  feefd8a7-4f18-44e9-98d3-422ac4e07c47       82705.0
1815  44f007bf-b99d-4d5e-bcc8-74b94c796841       11000.0
1816  8fc88537-10fb-4cad-be40-95a22f750a36      559211.0
1817  e850eeb5-7ffc-4ab3-a2b7-3ff17ce0eb59     1205834.0
1818  7db0314b-2092-4267-977c-72b7bf81daab       34028.0
1819  8003fda3-c294-478b-bcef-b72ad7868642      195879.0
1820  11a69ff5-d88d-4b68-bc71-ad36f02e9b7a      814793.0
1821  b3bf7b46-efc1-4c96-973c-b9cf0b965f3f      101872.0
1822  bd1f2347-c518-4eeb-95c6-5716183385c6      171301.0
1823  e56f16d7-c52d-4596-8754-76e24cd791c0      180653.0

[1824 rows x 2 columns]

In [ ]:
df_invoices = df_invoices.select("amount_total", "reception_date", "issue_date")

In [ ]:
first = df_invoices.first()

In [ ]:
import pandas as pd
df = pd.DataFrame({"u":[1,2]})

In [ ]:
type(df)

In [ ]:
type(first)

In [ ]:
type(df_invoices)

In [ ]:
df_invoices.take(5)

## Spark Transformations
map()
flatMap()
filter()
sample()
union()
intersection()
distinct()
join()

## Spark Actions
reduce()             
collect()               
count()
first()    
takeSample(withReplacement, num)

In [ ]:
collect = df_invoices.collect()

In [ ]:
type(collect)

In [ ]:
df_invoices.show()

In [ ]:
df_t = df_invoices.select("issuer_tax_number","debtor_tax_number", "amount_total")

In [ ]:

df=df_t.withColumn("valor_dolar", df_t.amount_total/760)

In [ ]:
df.show()

In [ ]:
# queremos un df con solo issuer_tax_number, debtor_tax_number, fecha de acuse, amount_total

In [ ]:
# queremos ver los valores de las facturas en dolares withColumn("duration_hrs", flights.air_time/60)

In [ ]:
df.filter("valor_dolar > 100")

In [ ]:
# filtraremos los que las facturas son superiores a 100000 flights.filter("distance > 1000")

In [ ]:
df_invoices.createOrReplaceTempView('invoice_table')

In [ ]:
spark.sql('select issuer_tax_number, debtor_tax_number, max(amount_total) from invoice_table \
          group by issuer_tax_number, debtor_tax_number').show()

In [ ]:
df_invoices.describe('amount_total').show()

In [ ]:
# las facturas de mayor monto por relacion comercial de los ultimos 45 dias

In [ ]:
cop = (df_invoicn_df.show()es.amount_total/100).alias("valor_en_cop")
in_cop = df_invoices.select("issuer_tax_number", "debtor_tax_number", cop)

In [ ]:
in_cop.printSchema()

In [ ]:
df_cop = in_cop.collect()

In [ ]:
type(df_cop)

In [ ]:
df_cop_show = inn_df.show()_cop.show()

In [ ]:
type(df_cop_show)

In [ ]:
df_invoices.filter(df_invoices.issuer_tax_number == "768800707").groupBy("debtor_tax_number").min("amount_total").show()

In [ ]:
df_invoices.describe('amount_total').show()

In [ ]:
df_invoices.toPandas()

In [ ]:
l = [('Alice', 1)]
first_df = spark.createDataFrame(l).collect()

In [ ]:
type(first_df)

# Crear un dataframe desde 0

In [ ]:
preguntas:
    que es spark?
    que tipos de operaciones se pueden hacer?
    que version es la mas reciente?
    que es rdd?
    como se traen los datos desde un base de datos?
    un ejemplo de transformacion
    un ejemplo de accion
    que hace toPandas?

In [7]:
from pyspark.sql import Row

l = [('Ankit',25),('Jalfaizy',22),('saurabh',20),('Bala',26)]
rdd = spark.sparkContext.parallelize(l)
people = rdd.map(lambda x: Row(name=x[0], age=int(x[1])))
schemaPeople = spark.createDataFrame(people)

In [11]:
people

PythonRDD[7] at RDD at PythonRDD.scala:49

# crear un schema

In [8]:
schemaPeople.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

## traer monto, reception_date, issue_date de invoices de los ultimas 5 horas

## crear columna con reception_date or issue_date llamada date

In [ ]:
df_invoices = df_invoices.withColumn("date", func.coalesce(df_invoices.reception_date, df_invoices.issue_date))

## en una nueva columna indicar "A" si el monto es < 1M, "B" si el monto es < 10 M, "C" si el monto es mayor a 10M

In [ ]:
def func_value_to_str(value):
    if value < 1:
        return "A"
    elif value < 10:
        return "B"
    else:
        return "C"

In [ ]:
from pyspark.sql.types import StringType
udf_value_to_str = func.udf(lambda value: func_value_to_str(value), StringType())

In [ ]:
df_invoices = df_invoices.withColumn("value_str", udf_value_to_str('amount_total'))

In [ ]:
df_invoices.show()